<div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Locations</h4>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>
        <%@locations.each do |location|%>
        <div class="container">
            <div class="portfolio-cube">
                <div id="grid-container" class="cbp">
                    <div class="cbp-item graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/img/img-1.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="/clubs/locations/<%=location.id%>" class="btn btn-primary">Clubs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-l-grid-projects-title"><%= location.name %></div>
                    </div>
                    <% end %>
            </div>
         </div>
     </div>