<h1>Welcome to In the Bizz!</h1>
<p>Promoting done easy!</p>
<div><a href="/signup">User Signup!</a></div>
<div><a href="/login">User Login</a></div>
<div><a href="/promoters_signup">Promoter Signup!</a></div>
<div><a href="/promoters_login">Promoter Login</a></div>
<div><a href="/clubs">Clubs</div>
<div><a href="/promoters">Promoters</div>